<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/login.css')}}">
    <title>admin_login</title>
</head>
<body>
    <div class="container">
        <h1>admin login</h1>
        <div class="contain">
            <h2>username</h2>
            <input type="text" id="username">
            <h2>password</h2>
            <input type="password" id="password">
            <div class="BTN">
                <button type="button", class="sumit" onclick="auth()"></button>
            </div>
        </div>
    </div>
</body>
<script>
    function auth(){
        username = document.getElementById('username').value;
        password = document.getElementById('password').value;
        if (username && password){
            fetch('/admin', {
                method: 'POST',
                body: JSON.stringify({ name: username, password: password }),
                headers: {'content-Type': 'application/json' }
            });
        } else {
            alert('no user data inputed');
        }
    }
</script>
</html>