<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="inner">
        <div class="header">
            <h1 align="center">login</h1>
        </div>
        <div align="center" class="details">
            <p class="email">email</p>
            <input type="email" id="email" name="email">
            <p class="password">password</p>
            <input type="password" id="password" name="email">
            <input type="submit">
        </div>
    </div>
</body>
</html>