<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    <title>payment</title>
</head>
<body>
<div class="payment-section">
    <div class="innner-div">
        <h1>payment</h1>
        <img class="transaction-img" src="{{url_for('static', filename='football_player.png')}}" alt="">
        <div class="account-details">
            <p class="account-number">9067615575</p>
            <p class="bank-name">opay</p>
        </div>
        <button class="payment-button"><a href="https://wa.link/kz8og3">payment complete</a></button>
    </div>
</div>
</body>
</html>