<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.v1.css')}}">
    <title>payment</title>
</head>
<body>
    <div class="navbar">
        <div class="userss">
            <h1 class="displayname">SmartStake</h1>
        </div>
        <div class="innerMain">
            <div class="toggle-btn" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('footballanalysis')}}">Analysis</a></li>
                    <li><a class="log" href="{{url_for('logout')}}">logout</a></li>
                    {% else %}
                    <li><a class="log" href="{{url_for('login')}}">login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
   
<div class="payment-section">
    <div class="innner-div">
        <h1>payment</h1>
        <img class="transaction-img" src="{{url_for('static', filename='football_player.png')}}" alt="">
        <div class="account-details">
            <p class="account-number">9067615575</p>
            <p class="bank-name">opay</p>
            <p class="bank-name">titlope aminate olododo</p>
        </div>
        <button class="payment-button"><a href="https://wa.link/kz8og3">payment complete</a></button>
    </div>
</div>
</body>
<script src="{{url_for('static', filename='main.v2.js')}}"></script>
</html>