<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUp</title>
   <link rel="stylesheet" href="{{url_for('static', filename="styles/register.v1.css")}}">
</head>
<body>
    <br>
<br>
    <div class="cont">
        <div class="form sign-in">
            <h2>Welcome to SmartStake</h2>
            <label>
                <span>username</span>
                <input type="email" id="username"/>
            </label>
            <label>
                <span>Password</span>
                <input type="password" id="password"/>
            </label>
            <p class="forgot-pass">Forgot password?</p>
            <button type="button" class="submit" onclick="signIn()">Sign In</button>
         
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                 
                    <h3><span class="W">W</span>elcome back! Login below.<h3>
                </div>
                <div class="img__text m--in">
                
                    <h3>Don't have an account? Please Sign up!<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Create your Account</h2>
                <label>
                    <span>Name</span>
                    <input type="text" id="username-signup" />
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" id="password-signup" />
                </label> 
                <label>
                    <span>Comfirm Password</span>
                    <input type="password" id="conpassword-signup" />
                </label>
                <button type="button" class="submit" onclick="signUp()">Sign Up</button>
                
            </div>
        </div>
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function() {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>
    <script src="{{url_for('static', filename='main.v1.js')}}"></script>
</body>
</html>