<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/SerAdmin.v2.css')}}">
    <title>services</title>
</head>

<body>
    <div class="navbar">
        <div class="userss">
            <h1 class="displayname">SmartStake</h1>
        </div>
        <div class="innerMain">
            <div class="toggle-btn" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="#aboutus" class="scroll-button">About Us</a></li>
                    <li><a href="{{url_for('footballanalysis')}}">Analysis</a></li>
                    <li><a href="{{url_for('logout')}}">logout</a></li>
                    {% else %}
                    <li><a href="{{url_for('login')}}">login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="welcome">
        <div class="welcome-message">
            <h1>welcome To SmartStake</h1>
            <p>Unlock insights. Predict matches. Dominate your fantasy league.</p>
            {% if current_user.is_authenticated %}
            <button><a href="{{url_for('footballanalysis')}}">get started</a></button>
            {% else %}
            <button><a href="{{url_for('login')}}">get started</a></button>
            {% endif %}
        </div>
        <div class="welcome-message">
            <img src="{{url_for('static', filename='football_player.png')}}" alt="">
        </div>
    </div>
    <div class="containers">
        <div class="contain">
            <h1>Head-to-Head</h1>
            <img src="{{url_for('static', filename='ball.png')}}" alt="">
            <p>See how these teams fare against each other. Analyze past matches and predict future outcomes!</p>
        </div>
        <div class="contain">
            <h1>last five matches</h1>
            <img src="{{url_for('static', filename='ball.png')}}" alt="">
            <p>Find out the clubs perfromance in their last 5 matches to analyse and predict the next games properly</p>
        </div>
        <div class="contain">
            <h1>home advantage</h1>
            <img src="{{url_for('static', filename='ball.png')}}" alt="">
            <p>A section showing a chart of the team's wins, draws, and losses at home. This helps see how well they
                play on their
                home field.</p>
        </div>
        <div class="contain">
            <h1>similar opponent</h1>
            <img src="{{url_for('static', filename='ball.png')}}" alt="">
            <p>This section shows how each team fared against the teams they both played.

                A pie chart breaks down their wins, losses, and draws for a quick comparison.</p>
        </div>
    </div>

    <!-- how it works (what the buttons) the row and column of the line chart -->
    <div class="coverSS">
        <div class="homesection">
            <div class="innertext">
                <h1 class="Htext">TOOL</h1>
            </div>
            <div class="tool">
                <div class="content">
                    <video id="toolvideo" autoplay loop muted playsinline>
                        <source src="{{url_for('static', filename='linechart.mov')}}">
                    </video>
                    <p>See how you can easily analyze wins, losses, and draws with just a click!</p>
                </div>
                <div class="content2">
                    <video id="toolvideo2" autoplay loop muted playsinline>
                        <source src="{{url_for('static', filename='piechart.mov')}}">
                    </video>
                    <p>Unlock interactive insights! Dive into this pie chart and filter results with ease.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="coverSS">
        <div id="aboutus" class="homesection">
            <div class="innertext">
                <h1 class="Htext">about us</h1>
            </div>
            <div class="tool">
                <div class="content">
                    <img src="{{url_for('static', filename='about.png')}}" alt="">
                    <p>SMARTSTAKE is your one-stop shop for in-depth football analysis. We empower you to make smarter
                        betting decisions by
                        providing a comprehensive view of upcoming matches.</p>

                </div>
                <div class="content">
                    <img src="{{url_for('static', filename='about3.png')}}" alt="">
                    <p>With SMARTSTAKE, you get a deeper understanding of the
                        factors influencing the outcome, allowing you to place informed bets and elevate your chances of
                        success.</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='main.v4.js')}}"></script>
<script>
    document
        .querySelector(".scroll-button")
        .addEventListener("click", function (e) {
            e.preventDefault();
            document.querySelector("#aboutus").scrollIntoView({
                behavior: "smooth",
            });
        });
</script>

</html>