<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/SerAdmin.css')}}">
    <title>services</title>
</head>

<body>
    <div class="navbar">
        <div class="toggle-btn" onkeypress="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('footballanalysis')}}">Analysis</a></li>
                <li><a href="{{url_for('logout')}}">logout</a></li>
                {% else %}
                <li><a href="{{url_for('login')}}">login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <h1>{{current_user}}</h1>
    <div class="welcome">
        <div class="welcome-message">
            <h1>welcome To Fas</h1>
            <p>Welcome to our football analysis website! Input the two teams, and instantly access detailed performance insights. From
            head-to-head stats to player metrics, our platform helps you make informed predictions and strategic decisions. Join us
            and elevate your understanding of the beautiful game</p>
            <button>get started</button>
        </div>
        <div class="welcome-message">
            <img src="{{url_for('static', filename='football_player.png')}}" alt="">
        </div>
    </div>
    <div class="containers">
        <div class="contain">
            <h1>Head-to-Head</h1>
            <img src="{{url_for('static', filename='ball.png')}}" alt="">
            <p>Discover how our service works with our intuitive team selection feature! On our analysis page, you'll find a
            user-friendly section dedicated to selecting teams for analysis. To begin, simply navigate to the left side of the
            screen to choose your home team, then to the right for your away team.</p>
        </div>
        <div class="contain">
            <h1>last five match</h1>
            <img src="{{url_for('static', filename='ball.png')}}" alt="">
            <p>Discover how our service works with our intuitive team selection feature! On our analysis page, you'll find a
            user-friendly section dedicated to selecting teams for analysis. To begin, simply navigate to the left side of the
            screen to choose your home team, then to the right for your away team.</p>
        </div>
        <div class="contain">
            <h1>home advantage</h1>
            <img src="{{url_for('static', filename='ball.png')}}" alt="">
            <p>Discover how our service works with our intuitive team selection feature! On our analysis page, you'll find a
            user-friendly section dedicated to selecting teams for analysis. To begin, simply navigate to the left side of the
            screen to choose your home team, then to the right for your away team.</p>
        </div>
        <div class="contain">
            <h1>similar opponent</h1>
            <img src="{{url_for('static', filename='ball.png')}}" alt="">
            <p>Discover how our service works with our intuitive team selection feature! On our analysis page, you'll find a
            user-friendly section dedicated to selecting teams for analysis. To begin, simply navigate to the left side of the
            screen to choose your home team, then to the right for your away team.</p>
        </div>
    </div>
    <div class="analysis-cover">
            <div class="div">
                <h1>Head-to-Head</h1>
                <div class="content">
                    <img src="" alt="">
                    <p></p>
                </div>
            </div>
    </div>
</body>

</html>